.blog{
    position: relative;
    top:-430px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog h1{
    text-align: center;
    font-size: 4.1rem;
    font-family: 'Playfair Display", sans-serif';
    color: white;
}
.blog p{
    width: 60%;
    text-align: center;
    color: white;
    font-weight: 200 ;

}
.our{
    display: flex;
    justify-content: center;
    align-items: center;
}
.our h1{
     font-size: 4rem;
     font-family: 'Playfair Display", sans-serif';
}