.section_1{
    width: 55%;
    margin: 150px 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.comments{
    display: flex;
    margin-top: 20px;
    gap: 20px;

}
.comments img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.comments__img{
     padding-left: 20px;
     padding-right: 20px;
     
}
.comments h2{
     font-weight: 300;

}
.comments h5{
    
    font-weight: 300;
    color: #ccc;
}
.comments p{
    font-size: 13px;

}
.comments button{
     width: 70px;
     padding: 5px;
     border: none;
}
.comment__section{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.section__2{
    margin: 150px 80px;
    width: 30%;
}
.section__2 input{
   padding:15px;
   width: 200px;
   font-size: 16px;
   outline: none;
}
.section_2_sec1{
    margin-top: 50px;
    
}
.section_2_sec1 div{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
.spam1{
    color: #fc8621;
    font-weight: 300;
}
.spam2{
  color: #ccc;
}
.aurthor{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 20px;
}
.aurthor img{
    width: 150px;
    
    border-radius: 50%;

}
.aurthor h3{
    font-size: 20px;
    font-weight: 300;
}
.aurthor p{
    font-size: 16px;
    font-weight: 300;
}
.aurthor button{
    width: 150px;
    padding: 15px;
    border: none;
    background-color: #fc8621;
    color: white;
    border-radius: 25px;
    font-size: 16px;
    transition:  all 0.3s ease;
}
.aurthor button:hover{
      background-color: rgba(252, 134, 33,0.8);
}