.aboutus__component{
  height: auto;
}
.aboutus__component__1{
  display: flex;
  gap: 40px;
  margin: 100px 80px 150px;
}
.aboutus__component__1__part1{
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 20px;
}
.aboutus__component__1__part1 h1{
  font-size: 2.9rem;
  font-family: 'Playfair Display", sans-serif';
}

.aboutus__component__1__part1 p{
  font-size: 15px;
  font-weight: 300;
}
.aboutus__component__1__part1 a{
  text-decoration: none;
  margin-top: 20px;
  background-color: #fc8621;
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 120px;
  color: white;
  border-radius: 25px;
  transition: all 300ms ease;
}
.aboutus__component__1__part1 a:hover{
    background-color: rgba(252,134,33,0.8);
}

.aboutus__component__images{
     position: relative !important;
}
.image2{
  position: absolute;
  top: 50px;
}
.aboutus__component__images img{
  width: 270px;
  padding: 50px 15px 20px;
  height: 350px;
}
/* media quarry for responsive design */

@media only screen and (max-width:600px) {

  .aboutus__component__1{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 100px 10px 150px;
  }
  .aboutus__component__1__part1{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    gap: 20px;
  }
  .image2{
    position: absolute;
    top: 0px;
  }
  .aboutus__component__1__part1 h1{
    font-size: 1.5rem;
    font-family: 'Playfair Display", sans-serif';
  }
  .aboutus__component__images img{
    width: 150px;
    padding: 50px 10px 20px;
    height: 200px;
  }

}
