.customer{
     border: 2px solid transparent;
     background-color:#EFEFEF;
}

.customer__main{
    margin: 120px 80px 120px;
    display: flex;
    gap: 150px;
}
.ant-carousel .slick-dots li button {
    position: relative;
    top: 50px;
    left: 10px;
    padding: 1px;
    background-color: transparent;
    border: 2px solid orange;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 1;
}
.ant-carousel .slick-dots li.slick-active button {
    opacity: 1;
    background: orange;
}
  
.customer__main__div1{
    width: 40%;
}
.customer__main__div1 h1{
    font-size: 3.5rem;
    font-family: 'Playfair Display", sans-serif';

}

.customer__main__div1 img{
    width: 85px;
    height: 85px;
    border-radius: 50%;
}
.customer__main__div2 h1{
    font-size: 3.2rem;
    font-family: 'Playfair Display", sans-serif';
}