.background__image{
    
    height: 100vh;
    background-image: url('../images/hero_1.jpg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}
.responsive__nav{
    display: none;
}

.overlay{
    position: absolute;
     z-index: 10;
     width: 100%;
     height: 100%;
     background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
nav{
    z-index: 30;
    width: 95vw;
    position: absolute;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
}
nav div{
    display: flex;
    gap: 40px;
    margin: 0px 50px;
    align-items: center;
}
.contact__us__button{
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 8px 15px;
    border-radius: 20px;
    background-color: transparent;
    transition: all 300ms ease;

}
.contact__us__button:hover{
    background-color: #fc8621;
}
.nav__button{
    transition: all 300ms ease;
  }
  .nav__button:hover{
    color: white;
  }
.location{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 40px;
    gap: 15px;
    z-index: 30;
    color: white;
    margin-left: 100px;
}
.location div{
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background-color: rgba(0, 0, 0, 0.4);
     display: flex;
     justify-content: center;
     align-items: center; 
    }

    @media only screen and (max-width:600px){
        .responsive__nav__bar{
            display: flex;
            
            justify-content: space-between;

        }
        nav{
            display: none;
        }
        .responsive__nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .background__image{
            height: 100vh;
        }
        .hamburger{
            color: white;
            font-size: 25px;
            font-weight: 400;
            padding: 40px 0px;
        }
        .location{
            
            position: absolute;
            bottom: 40px;
            left: -50px;
            gap: 15px;
            z-index: 30;
            color: white;
            margin-left: 100px;
        }
        
        
        
    }
    